<div id="outer">
    <header class="header order-last" id="tm-header">
        <nav class="navbar">
            <div class="collapse navbar-collapse single-page-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home"><span class="icn"><i class="fas fa-2x fa-home"></i></span> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about"><span class="icn"><i class="fas fa-2x fa-info-circle"></i></span> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/adminlogin"><span class="icn"><i class="fas fa-2x fa-user-lock"></i></span> Admin Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customersupportlogin"><span class="icn"><i class="fas fa-2x fa-headset"></i></span> Customer Support Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customerlogin"><span class="icn"><i class="fas fa-2x fa-user"></i></span> Customer Login</a>
                    </li>
                    <!-- <li class="nav-item"> -->

                        <!-- <a class="nav-link" routerLink="/home"><span class="icn"><i class="fas fa-2x fa-door-open"></i></span> Logout </a> -->
                        <li class="nav-item">
                            <a class="nav-link" (click)="logout()">
                                <span class="icn"><i class="fas fa-2x fa-sign-out-alt"></i></span> Logout
                            </a>
                        </li>

                        <!-- <a class="nav-link" routerLink="/customerlogin"><span class="icn"><i class="fas fa-2x fa-door-open"></i></span> Logout </a> -->

                    <!-- </li> -->
                </ul>
            </div>
        </nav>
    </header>

    <button class="navbar-button collapsed" type="button">
        <span class="menu_icon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </span>
    </button>
    
    <main id="content-box" class="order-first">
        <div class="work-section section bgcol">
        <!-- <div class="gallery-section section parallax-window" > -->
            <div class="container">
                <div class="topnav" >

                    <span style="display: flex; align-items: center;"><br><br>
                  
                      <i class="fas fa-2x fa-file-invoice-dollar"></i>
                  
                      <h3 style="margin-left: 10px; margin-top: 0;">Simply Invoice</h3>
                  
                    </span>

                <div class="row">

                    <div class="item col-md-4">

                        <div class="tm-work-item-inner">

                            <div class="icn"><i class="fas fa-2x fa-bullhorn"></i></div>

                            <h3>.01 Our Mission</h3>

                            <p>Our mission is to help businesses manage collections effectively, fostering lasting customer relationships through efficient solutions for outstanding payments and customer satisfaction.</p>

                        </div>                        

                    </div>

                    <div class="item col-md-4 one">

                        <div class="tm-work-item-inner">

                            <div class="icn"><i class="fas fa-2x fa-shield-alt"></i></div>

                            <h3>.02 What Sets Us Apart</h3>

                            <p>Cutting-edge technology meets dedicated expertise, empowering businesses to seamlessly manage collections, bridge outstanding payments, and foster lasting customer satisfaction</p>

                        </div>

                    </div>

                    <div class="item col-md-4 two">

                        <div class="tm-work-item-inner">

                            <div class="icn"><i class="fas fa-2x fa-key"></i></div>

                            <h3>.03 Key Features</h3>

                            <p>Offers automated workflows, customer segmentation, transparent communication, secure payment gateway integration, and comprehensive reporting, ensuring efficient collections management in one seamless solution.</p>

                        </div>

                    </div>

                </div>

                <div class="title">

                    <h2>About Us</h2>

                </div>

            </div>
        </div>
        </div>
        </main>
        </div>




      