<div id="outer">
    <header class="header order-last" id="tm-header">
        <nav class="navbar">
            <div class="collapse navbar-collapse single-page-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customer/home"><span class="icn"><i class="fas fa-2x fa-home"></i></span> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/aboutcust"><span class="icn"><i class="fas fa-2x fa-info-circle"></i></span> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/paymentportal"><span class="icn"><i class="fas fa-2x fa-user-lock"></i></span> Payment Portal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/viewbill"><span class="icn"><i class="fas fa-2x fa-user-lock"></i></span> View Bill</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/mainissue"><span class="icn"><i class="fas fa-2x fa-question-circle"></i></span> Issues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">
                            <span class="icn"><i class="fas fa-2x fa-sign-out-alt"></i></span> Logout
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/customersupportlogin"><span class="icn"><i class="fas fa-2x fa-headset"></i></span> Customer Support Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customerlogin"><span class="icn"><i class="fas fa-2x fa-user"></i></span> Customer Login</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </header>
    
    <button class="navbar-button collapsed" type="button">
        <span class="menu_icon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </span>
    </button>
    
    <main id="content-box" class="order-first">
        <div class="banner-section section bgcol" >
            <!-- <div class="bgcol"> -->
            <div class="container">
                <div class="topnav" >

                    <span style="display: flex; align-items: center;"><br><br>
                  
                      <i class="fas fa-2x fa-file-invoice-dollar"></i>
                  
                      <h3 style="margin-left: 10px; margin-top: 0; color: white;">Simply Invoice</h3>
                  
                    </span>
                  
                  </div><br>
                  <div class="item">
                    <div class="bg-blue-transparent logo-fa"><span><i class="fas fa-2x fa-file-invoice-dollar"></i></span> Customer Home</div>
                    <div class="bg-blue-transparent simple" ><h3>Welcome {{customerDetails.name}}</h3><br><h3>Your Current Pack: {{customerDetails.prevdue | currency:'INR':'symbol':'1.2-2'}}</h3>
                        <!-- <div class="vertical-menu">
                    <nav>
                    <a id="menu_active" routerLink="/about">About</a><br>
                    <a  routerLink="/paymentportal">Payment Portal</a><br>
                     <a routerLink="/ticketraised">Raised Tickets </a><br>
              </nav>
            </div> -->
                </div>
            </div>
            </div>
            </div>
            <!-- <div class="banner-section section parallax-window" data-parallax="scroll" data-image-src="/../assets/img/section-1-bg.jpg" > -->
 
    </main>
    
    
        </div>
        

