<div id="outer">
    <header class="header order-last" id="tm-header">
        <nav class="navbar">
            <div class="collapse navbar-collapse single-page-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customersupport/home"><span class="icn"><i class="fas fa-2x fa-home"></i></span> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/aboutcustsupport"><span class="icn"><i class="fas fa-2x fa-info-circle"></i></span> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/pendingcustomerlist"><span class="icn"><i class="fas fa-2x fa-user-lock"></i></span> Pending Customer List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customersupportviewticket"><span class="icn"><i class="fas fa-2x fa-exclamation-circle"></i></span> View Raised Ticket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">
                            <span class="icn"><i class="fas fa-2x fa-sign-out-alt"></i></span> Logout
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/notification"><span class="icn"><i class="fas fa-2x fa-user-lock"></i></span> Notification  </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/customersupportlogin"><span class="icn"><i class="fas fa-2x fa-headset"></i></span> Customer Support Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customerlogin"><span class="icn"><i class="fas fa-2x fa-user"></i></span> Customer Login</a>
                    </li> -->
                </ul>
            </div>
        </nav>
    </header>
    
    <button class="navbar-button collapsed" type="button">
        <span class="menu_icon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </span>
    </button>
    
    <main id="content-box" class="order-first">
        <!-- <div class="banner-section section" data-parallax="scroll" style="background-color: #6699cc;"> -->
            <div class="banner-section section bgcol" >            <!-- <div class="bgcol"> -->
             <div class="container">
                <div class="topnav" >

                    <span style="display: flex; align-items: center;"><br><br>
                  
                      <i style="color: black;" class="fas fa-2x fa-file-invoice-dollar"></i>
                  
                      <h3 style="margin-left: 10px; margin-top: 0; color: black;">Simply Invoice</h3>
                  
                    </span>
                    </div><br>
               <div class="table-container">
                <!-- <div *ngIf="customers && customers.length > 0"> -->

    <table>

     <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>PreviousDue</th>
            <th>Due</th>
            <th>Bill</th>
            <th>DueDate</th>
            <th>DaysUnpaid</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.name}"></td>
            <td th:text="${customer.mobileNo}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.outstandingBill}"></td>
            <td th:text="${customer.dueDate}"></td>
            <td th:text="${customer.daysUnpaid}"></td> 
        </tr> -->
        <tr *ngFor="let customer of customers">
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.mobile }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.prevdue }}</td>
            <td>{{ customer.currdue }}</td>
            <td>{{ customer.outbill }}</td>
            <td>{{ customer.duedate }}</td>
            <td>{{ customer.daysUnpaid }}</td>
            <td><button (click)="sendEmailToCustomer(customer)">Send Email</button></td>
            <!-- Add more cells for other properties if needed -->
          </tr>
    </tbody>

      <!-- <tr>
        <th>1</th>
        <td>12345</td>

        <td>John Doe</td>

        <td>8076234562</td>

        <td>johndoe@email.com</td>


        <td>2023-10-15</td>

        <td>$500.00</td>

        <td><button>Send</button></td>

      </tr>

      <tr>
        <th>2</th>

        <td>67890</td>

        <td>Jane Smith</td>

        <td>8672498345</td>

        <td>janesmith@email.com</td>

        <td>2023-09-30</td>

        <td>$250.50</td>

        <td><button>Send</button></td>

      </tr> -->

      <!-- Add more rows as needed -->

    </table>


  </div>
            </div>
       
        </div>

    </main>
</div>

