<!-- <div id="outer">
    <header class="header order-last" id="tm-header">
        <nav class="navbar">
            <div class="collapse navbar-collapse single-page-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/customer/home"><span class="icn"><i class="fas fa-2x fa-home"></i></span> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/aboutcust"><span class="icn"><i class="fas fa-2x fa-info-circle"></i></span> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/paymentportal"><span class="icn"><i class="fas fa-2x fa-user-lock"></i></span> Payment Portal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/viewbill"><span class="icn"><i class="fas fa-2x fa-user-lock"></i></span> View Bill</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/customerlogin"><span class="icn"><i class="fas fa-2x fa-door-open"></i></span> Logout </a>
                  </li>
                    
                </ul>
            </div>
        </nav>
    </header>
    
    <button class="navbar-button collapsed" type="button">
        <span class="menu_icon">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </span>
    </button> -->
<!-- 
    <main id="content-box" class="order-first">
      
          <div class="banner-section section bgcol" >
            <div class="container">
               
                <div class="item"> -->
                   
<body>
  <div class="container">
        <div class="payment-portal">
            
            <div class="payment-container">
                
                <h2>Select Payment Method</h2>
        
                <div class="payment-method">
        
                    Selected Payment Method Symbol: <span [innerHTML]="getPaymentSymbol()"></span>
        
                </div>

                

        <form (ngSubmit)="processPayment(customerId)">

            <label for="payment-method">Payment Method:</label>

            <select id="payment-method" [(ngModel)]="selectedPaymentMethod" name="paymentMethod" required>

                <option value="">Select Payment Method</option>

                <option value="credit-card">Credit Card</option>

                <option value="debit-card">Debit Card</option>

                <option value="account-transfer">Account Transfer</option>

                <option value="upi">UPI (Google Pay, Paytm, etc.)</option>

            </select>

 

            <div *ngIf="selectedPaymentMethod === 'credit-card'" class="payment-details">

                <form [formGroup]="paymentForm" (ngSubmit)="processPayment(customerId)">
                <div class="flex-container">

                    <div class="full-width">
                        <label for="cardNumber">Card Number:</label>
      <input type="text" id="cardNumber" formControlName="cardNumber" placeholder="1234567890123456" required> 
     
      <div *ngIf="paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched" class="error-message" style="color: red;">
        Invalid card number format.
      </div>
                          </div>
                    </div>
                           
                <div class="flex-container">

                                
                    <div class="half-width">
                       
                        <label for="expiry">Expiration Date:</label>
                        <input type="text" id="expiry" formControlName="expiry" placeholder="MM/YY" required>
                        <span *ngIf="paymentForm.get('expiry')?.invalid && paymentForm.get('expiry')?.touched" class="error-message" style="color: red;">
                          Invalid MM/YY format. Please enter a valid expiration date (MM/YY).
                      </span>
                        
                    </div>
                                <div class="half-width">
                                    <label for="ccv">CCV:</label>
                                    <input type="text" id="ccv" formControlName="ccv" required placeholder="123">
                                
                                    <span *ngIf="paymentForm.get('ccv')?.hasError('invalidCCV') && paymentForm.get('ccv')?.touched" class="error-message" style="color: red;">
                                      CCV number must be 3 digits long and numeric.
                                    </span>
                                  </div>
                                </div>
                                <button class="pay-button" [disabled]="!isFormValid" (click)="processPayment(customerId)">Make Payment: {{ previouDue | currency:'INR':'symbol':'1.2-2' }}</button>

                            </form>

                
            </div>
       

 

            <div *ngIf="selectedPaymentMethod === 'debit-card'" class="payment-details">

                <form [formGroup]="paymentForm">
                    <div class="flex-container">
    
                        <div class="full-width">
                            <label for="cardNumber">Card Number:</label>
          <input type="text" id="cardNumber" formControlName="cardNumber" placeholder="1234567890123456">
            <div *ngIf="paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched" class="error-message" style="color: red;">
            Invalid card number format.
          </div>
                              </div>
                        </div>
                               
                    <div class="flex-container">
    
                                    
                        <div class="half-width">
                           
                            <label for="expiry">Expiration Date:</label>
                            <input type="text" id="expiry" formControlName="expiry" placeholder="MM/YY">
                            <span *ngIf="paymentForm.get('expiry')?.invalid && paymentForm.get('expiry')?.touched" class="error-message" style="color: red;">
                                Invalid MM/YY format. Please enter a valid expiration date (MM/YY).
                            </span>
                            
                        </div>
                                    <div class="half-width">
                                        <label for="ccv">CCV:</label>
                                        <input type="text" id="ccv" formControlName="ccv" placeholder="123">
                                        <span *ngIf="paymentForm.get('ccv')?.hasError('invalidCCV') && paymentForm.get('ccv')?.touched" class="error-message" style="color: red;">
                                          CCV number must be 3 digits long and numeric.
                                        </span>
                                      </div>
                                    </div>
                                </form>
    
                    <button class="pay-button" [disabled]="!isFormValid" (click)="processPayment(customerId)">Make Payment: {{ previouDue | currency:'INR':'symbol':'1.2-2' }}</button>
    
            </div>

 
            <div *ngIf="selectedPaymentMethod === 'account-transfer'" class="payment-details">
              <form [formGroup]="accountForm">
                <div class="flex-container">
                  <div class="full-width">
                    <label for="accountNumber">Account Number:</label>
                    <input type="text" id="accountNumber" formControlName="accountNumber" placeholder="123456789012345">
                    <div *ngIf="accountNumberControl?.hasError('required') && accountNumberControl?.touched" class="error-message" style="color: red;">
                      Account number is required.
                    </div>
                    <div *ngIf="accountNumberControl?.hasError('pattern') && accountNumberControl?.touched" class="error-message" style="color: red;">
                      Invalid account number. It should be 15 digits without any spaces and alphabets.
                    </div>
                  </div>
                </div>
              
                <div class="flex-container">
                  <div class="full-width">
                    <label for="accountName">Account Name:</label>
                    <input type="text" id="accountName" formControlName="accountName" placeholder="abc">
                    <div *ngIf="accountNameControl?.hasError('required') && accountNameControl?.touched" class="error-message" style="color: red;">
                      Account name is required.
                    </div>
                    <div *ngIf="accountNameControl?.hasError('pattern') && accountNameControl?.touched" class="error-message" style="color: red;">
                      Invalid account name. It should contain at least two alphabetical characters and spaces only.
                    </div>
                  </div>
                </div>
              
                <div class="flex-container">
                  <div class="full-width">
                    <label for="ifscCode">IFSC Code:</label>
                    <input type="text" id="ifscCode" formControlName="ifscCode" placeholder="bank123456">
                    <div *ngIf="ifscCodeControl?.hasError('required') && ifscCodeControl?.touched" class="error-message" style="color: red;">
                      IFSC code is required.
                    </div>
                    <div *ngIf="ifscCodeControl?.hasError('pattern') && ifscCodeControl?.touched" class="error-message" style="color: red;">
                      Invalid IFSC code. It should be 11 characters with the first four characters representing the bank name and the last seven characters numeric or alphabetic.
                    </div>
                  </div>
                </div>
              
                <button class="pay-button" [disabled]="!isAccFormValid" (click)="processPayment(customerId)">Make Payment: {{ previouDue | currency:'INR':'symbol':'1.2-2' }}</button>
              </form>
            </div>
            
 

           

            <div *ngIf="selectedPaymentMethod === 'upi'" class="payment-details">
              <form [formGroup]="upiForm">
                <div class="flex-container">
                  <div class="full-width">
                    <label for="upiId">UPI ID:</label>
                    <input type="text" id="upiId" formControlName="upiId" placeholder="example@upi">
                    
                    <div *ngIf="upiForm.get('upiId')?.hasError('required') && upiForm.get('upiId')?.touched" style="color: red;">
                      UPI ID is required.
                    </div>
                    
                    <div *ngIf="upiForm.get('upiId')?.hasError('pattern') && upiForm.get('upiId')?.touched" style="color: red;">
                      Invalid UPI ID format. Please enter a valid UPI ID (e.g., example@upi).
                    </div>
                  </div>
                </div>
                <button class="pay-button" [disabled]="!isUpiFormValid" (click)="processPayment(customerId)">Make Payment: {{ previouDue | currency:'INR':'symbol':'1.2-2' }}</button>
              </form>
          </div><br>

</form>
</div>
</div>
</div>
</body>
<!-- </div>
</div>
</div>
</main> -->
<!-- </div> -->

